@import "../../../color.scss";
.login {
  height: 100vh;
  color: $White;
  background: linear-gradient(#fc466b, #3f5efb);
  .content {
    display: flex;
    justify-content: center;
    padding: 8rem;
  }
  .login-screen {
    background-color: rgba(30, 39, 39, 0.3);
    width: 24rem;
    height: 24rem;
    box-shadow: 0px 10px 25px -8px;
  }
  .card-header {
    text-align: center;
    background: none;
    border-bottom: none;
  }
  .card-body {
    .row {
      form {
        padding: 1rem;
        .form-group {
          margin-bottom: 1rem;
          input {
            margin-top: 3%;
          }
        }
      }
    }
  }
  .button {
    display: flex;
    justify-content: center;
    border: none;
    outline: none;
    .btn {
      background-color: rgba(30, 39, 39, 0.3);
      padding: 3% 6% 3% 6%;
      margin-top: 1rem;
      border-radius: 25px;
      color: #fff;
    }
  }
  .btn:hover {
    box-shadow: 0px 0px 5px 0px;
  }
}
