<div class="electronics-1">
    <div class="electronic-content">
        <div class="row">
            <div class="card">
             <div class="card-body">
                <div class="form-group">
                    <label>Image</label>
                    <input type="file" (change)="upload($event)" accept="*.png.jpg"/>
                    <button type="button" class="btn btn-primary" (click)="uploadImage()">Upload Image</button>
                </div>
             </div>
            </div>
        </div>
    </div>
</div>