<mat-nav-list class="pt-0" *ngIf="showSidebar">
  <div class="sideNav">
    <div class="sideNav-container">
      <div class="logo-container">
        <div class="logo">
          <img src="../../../assets/images/logo/TS.png" class="center" />
        </div>
        <div class="logo-content">
          <h4>TECH SPOT</h4>
        </div>
      </div>
      <div class="sideNav" *ngIf="loginType =='admin'">
        <ul class="sideNav-content" *ngIf="loginType == 'admin'">
          <li class="content-list" *ngFor="let adminSidebar of adminMenu">
            <div class="title" [routerLink]="[adminSidebar?.url]">
              <a>{{adminSidebar?.title}}</a>
            </div>
          </li>
        </ul>
      </div>
      <div class="sideNav" *ngIf="loginType=='user'">
        <ul class="sideNav-content">
          <li class="content-list" *ngFor="let userSideBar of userMenu">
            <div class="title" [routerLink]="[userSideBar?.url]">
              <div>
                <a>{{userSideBar?.title}}</a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</mat-nav-list>