#cart {
  padding: 1.5rem;

  .shopping-cart-title {
    h4 {
      font-size: 1.5rem;
      font-family: 'smart-icons';
    }
  }

  .shopping-cart-items {
    margin: 3rem 0 0 0;
    display: flex;
    justify-content: space-between;
  }
}