<div id="cart" *ngIf="cartMobile">
    <div class="shopping-cart-section card">
        <div class="shopping-cart-content card-body">
            <div class="shopping-cart-title">
                <h4>Shoping Cart</h4>
            </div>
            <div class="shopping-cart-items">
                <div class="cart-image">
                    <img [src]="cartMobile?.imageUrl" width="150" *ngIf="cartMobile?.imageUrl" alt="mobile" />
                </div>
                <div class="cart-description">
                    <h5>{{cartMobile?.mobileName}}</h5>
                </div>
                <div class="addroduct">
                    <button type="button"><i class="fa fa-minus"></i></button>
                    {{increaseProduct}}
                    <button type="button"><i class="fa fa-plus"></i></button>
                </div>
                <div class="totalCartValue">
                    <i class="fa fa-inr" aria-hidden="true"></i> {{cartMobile?.mobilePrice}}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="noItems">
    <h5>No Items</h5>
</div>