<div class="mobile">
  <div class="">
    <div class="mobiles">
      <div class="mobileBar">
        <div class="col-md-6 col-lg-4 col">
          <div class="card">
            <a href="#" [routerLink]="['/home/mobiles/view']">
              <div class="card-body">
                <div class="image">
                  <img
                    src="https://firebasestorage.googleapis.com/v0/b/arredo-79ef0.appspot.com/o/oppo.jpg?alt=media&token=3210ca6e-7f80-42b0-9aa6-137d9ea96e75"
                    alt="" />
                  <h3>Oppo A31</h3>
                  <span>Mystery Black, 6GB/8GB RAM</span>
                  <br />
                  <span>128/256 GB Storage</span>
                </div>
                <br />
                <div class="price">
                  <div class="rupee">
                    <sup>&#8377;</sup>
                  </div>
                  <div>
                    <h4>11,500</h4>
                  </div>
                  <div class="offer">
                    <sub>(10% Offer)</sub>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="card">
            <a href="#">
              <div class="card-body">
                <div class="image">
                  <img
                    src="https://firebasestorage.googleapis.com/v0/b/arredo-79ef0.appspot.com/o/oneplus.jpg?alt=media&token=c4fa3d32-5c09-4b43-9990-b3b9bab8eae0"
                    alt="" />
                  <h3>One Plus 10R Bot</h3>
                  <span>Forest Green, 6/8 GB RAM</span>
                  <br />
                  <span>128/256GB Storage</span>
                </div>
                <br />
                <div class="price">
                  <div class="rupee">
                    <sup>&#8377;</sup>
                  </div>
                  <div>
                    <h4>38,000</h4>
                  </div>
                  <div class="offer">
                    <sub>(5% Offer)</sub>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="card">
            <a href="#">
              <div class="card-body">
                <div class="image">
                  <img
                    src="https://firebasestorage.googleapis.com/v0/b/arredo-79ef0.appspot.com/o/iphone13.jpg?alt=media&token=341bb56d-e2fa-4967-828a-ed3893274f1c"
                    alt="" />
                  <h3>Apple IPhone 13 Pro Max Bot</h3>
                  <span>6GB RAM</span>
                  <br />
                  <span>128GB/256GB/512GB Storage</span>
                </div>
                <br />
                <div class="price">
                  <div class="rupee">
                    <sup>&#8377;</sup>
                  </div>
                  <div>
                    <h4>1,50,000</h4>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="card">
            <a href="#">
              <div class="card-body">
                <div class="image">
                  <img
                    src="https://firebasestorage.googleapis.com/v0/b/arredo-79ef0.appspot.com/o/redmiNote11.jpg?alt=media&token=01e43600-2088-403b-b603-5e595e65658f"
                    alt="" />
                  <h3>Redmi Note 11 Pro</h3>
                  <span>6GB/8GB RAM</span>
                  <br />
                  <span>128GB/256GB Storage</span>
                </div>
                <br />
                <div class="price">
                  <div class="rupee">
                    <sup>&#8377;</sup>
                  </div>
                  <div>
                    <h4>23,000</h4>
                  </div>
                  <div class="offer">
                    <sub>(8% Offer)</sub>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="card">
            <a href="#">
              <div class="card-body">
                <div class="image">
                  <img
                    src="https://firebasestorage.googleapis.com/v0/b/arredo-79ef0.appspot.com/o/realme%20GT%20master%20edition.jpg?alt=media&token=d1bee6c2-8e15-4d20-88f8-cca588ec3547"
                    alt="" />
                  <h3>Realme GT Master Edition Luna White</h3>
                  <span>6GB/8GB RAM</span>
                  <br />
                  <span>128GB/256GB Storage</span>
                </div>
                <br />
                <div class="price">
                  <div class="rupee">
                    <sup>&#8377;</sup>
                  </div>
                  <div>
                    <h4>30,000</h4>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="card">
            <a href="#">
              <div class="card-body">
                <div class="image">
                  <img
                    src="https://firebasestorage.googleapis.com/v0/b/arredo-79ef0.appspot.com/o/Realme%20GT%20neo%203.jpg?alt=media&token=4e02114c-1839-4d82-878e-2d2b2dc5520d"
                    alt="" />
                  <h3>Realme GT Neo 3</h3>
                  <span>6GB/8GB RAM</span>
                  <br />
                  <span>128GB/256GB Storage</span>
                </div>
                <br />
                <div class="price">
                  <div class="rupee">
                    <sup>&#8377;</sup>
                  </div>
                  <div>
                    <h4>42,999</h4>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="card">
            <a href="#">
              <div class="card-body">
                <div class="image">
                  <img
                    src="https://firebasestorage.googleapis.com/v0/b/arredo-79ef0.appspot.com/o/SamsungGalaxyS22Ultra.jpg?alt=media&token=4e2d2de1-4541-43bc-bd6e-ff450cde7c17"
                    alt="" />
                  <h3>Samsung Galaxy S22 Ultra</h3>
                  <span>6GB/8GB RAM</span>
                  <br />
                  <span>128GB/256GB Storage</span>
                </div>
                <br />
                <div class="price">
                  <div class="rupee">
                    <sup>&#8377;</sup>
                  </div>
                  <div>
                    <h4>84,999</h4>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="card">
            <a href="#">
              <div class="card-body">
                <div class="image">
                  <img
                    src="https://firebasestorage.googleapis.com/v0/b/arredo-79ef0.appspot.com/o/NothingPhone1.jpg?alt=media&token=80678a3b-e9cf-4b5a-8ccd-7bffc5fb113a"
                    alt="" />
                  <h3>Nothing Phone 1</h3>
                  <span>6GB/8GB RAM</span>
                  <br />
                  <span>128GB/256GB Storage</span>
                </div>
                <br />
                <div class="price">
                  <div class="rupee">
                    <sup>&#8377;</sup>
                  </div>
                  <div>
                    <h4>35,999</h4>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="card">
            <a href="#">
              <div class="card-body">
                <div class="image">
                  <img
                    src="https://firebasestorage.googleapis.com/v0/b/arredo-79ef0.appspot.com/o/Rog6pro.jpg?alt=media&token=8c25dfc1-879e-4bff-859f-38a21809c65e"
                    alt="" />
                  <h3>ASUS ROG 6 PRO</h3>
                  <span>6GB/8GB RAM</span>
                  <br />
                  <span>128GB/256GB Storage</span>
                </div>
                <br />
                <div class="price">
                  <div class="rupee">
                    <sup>&#8377;</sup>
                  </div>
                  <div>
                    <h4>71,999</h4>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
