<div class="container">
  <div class="row">
    <div class="card">
      <div class="card-body">
        <div class="cart">
          <button type="button" [routerLink]="['/cart']">
            <i class="fas fa-cart-plus cart"></i>
            <div class="badge bg-danger">{{ counter }}</div>
          </button>
        </div>
        <img
          [src]="currentUser?.imageUrl"
          alt="user-icon"
          class="user-icon-image"
        />
        <!-- <button type="button"><i class="fa fa-power-off"></i></button> -->
        <!-- </div> -->
      </div>
    </div>
  </div>
</div>
