<div id="mobile-content-view">
  <div class="view-content">
    <div class="row">
      <div class="col-md-3">
        <div class="mobile-image">
          <img [src]="mobileList.imageUrl" alt="" />
        </div>
      </div>
      <div class="col-md-9 mobile-view">
        <div class="mobile-details">
          <div class="mobile-title">
            <h3>{{mobileList.mobileName}} {{'(' + mobileList.mobileColor + ', ' + mobileList?.ram + ')'}}
              {{mobileList?.storage}}
            </h3>
          </div>
          <div class="d-flex">
            <div id="mobile-rating">
              <span class="rating-star">
                <small>4.3 <i class="fa fa-star"></i></small>
              </span>
            </div>
            <div>
              <img src="../../../../assets/logo/logo.png" class="assured-img" alt="assured" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>